* {
  font-family: Arial;
  font-size: 21px;
  letter-spacing: 0.02em;
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

html {
  background: linear-gradient(to bottom, #aaaaaa 0%, #ffffff 80%);
}

/* BORDER */

.border, .gallery-border {
  width: 100%;
  margin: 0px;
  border-bottom: 3px solid black;
  box-shadow: 0 0 10px rgba(42, 42, 42, 0.5);
}

.gallery-border {
  align-self: center;
  margin: 0, 150px, 0;
  border-width: 1.5px;
}


/* HEADER */

header {
  background-color: #aaaaaa;
  position: fixed;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  padding: 30px 0px 30px;
  margin-right: 2%;
}

button, .submit-button {
  height: 40px;
  width: 180px;
  margin-left: 20px;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}

.on-page {
  background-color: black;
  color: white;
}

button:hover, .submit-button:hover {
  background-color: black;
  color: white;
  transition: 250ms;
}

button:active, .submit-button:active {
  opacity: 0.7;
  transition: 100ms;
}

/* MAIN SECTION */

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 250px 60px 0px;
}

/* ARTICLE */

h1 {
  font-size: 35px;
  text-align: center;
}

.heading {
  font-size: 28px;
  margin: 100px 0px 50px;
}

p {
  width: 600px;
  margin-right: 30px;
}

.hyperlink-text {
  color: inherit;
  text-transform: uppercase;
}

.list {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 28px;
}

ul {
  margin-left: 18px;
}

/* ASIDE */

.images {
  width: 400px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.image {
  display: flex;
  margin-bottom: 120px;
  border-radius: 10px;
}

.first {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  place-self: center;
}

.second {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  align-self: center;
}

.third {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  place-self: center;
}

.fourth {
  grid-column: 1 / 2;
  grid-row: 4 / 6;
}

/* GALLERY */

.gallery {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.gallery-text {
  margin-bottom: 9px;
}

.gallery-images {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.separate-gallery-images {
  margin: 80px 50px 0px;
  transition: 300ms;
}

.separate-gallery-images:hover {
  transform: scale(1.52);
  cursor: pointer;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #616161;
}

.homepage-footer {
  margin-top: 10%;
}

#footer-text {
  font-size: 17px;
}

/* CONTACT PAGE */

.form-section {
  height: 1110px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
  margin: 250px 0 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
}

.gender-input {
  width: 100px;
  margin-right: 61px;
}

.name-input {
  width: 430px;
}

form {
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-title {
  text-transform: uppercase;
}

.form-reqired, .form-title {
  margin-bottom: 42.5px;
  margin-right: 0;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.3s;
}

input {
  height: 40px;
}

input, textarea {
  border-radius: 15px;
  background-color: transparent;
  opacity: 0.5;
  border: solid;
}

textarea {
  padding-bottom: 160px;
  height: 200px;
  vertical-align: top;
  box-sizing: border-box;
}

input:hover, textarea:hover {
  opacity: 1;
}

input:focus, textarea:focus {
  background-color: white;
  opacity: 1;
  box-shadow: 
    0px 0px 8px 6px rgba(0, 0, 0, 0.05),
    0px 0px 8px 6px rgba(0, 0, 0, 0.05),
    0px 0px 8px 6px rgba(0, 0, 0, 0.05),
    0px 0px 8px 6px rgba(0, 0, 0, 0.05);
}

.submit-button {
  width: 350px;
  height: 60px;
  align-self: center;
  background-color: transparent;
  border-radius: 22px;
}

.submit-button:focus {
  box-shadow: none;
}
