* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 21px;
  letter-spacing: 0.02em;
  line-height: 1.3;
  word-spacing: 0.04rem;
}

html {
  min-height: 100%;
  background: linear-gradient(to bottom, #aaaaaa 0%, #ffffff 80%);
}

/* BORDER */

.border, .gallery-border {
  width: 100%;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  box-shadow: 0 0 10px #2a2a2a80;
}

.gallery-border {
  margin: 0;
  border-width: 1.5px;
}


/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #aaaaaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 5%;
  height: 5%;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 1%;
}

/* .button-link {
  height: 40px;
  width: 15%;
} */

button {
  height: 40px;
  width: 15%;
  background-color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
}

.on-page {
  background-color: #000000;
  color: #ffffff;
}

button:hover, .submit-button:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 250ms;
}

button:active, .submit-button:active {
  opacity: 0.7;
  transition: 100ms;
}

/* MAIN SECTION */

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 14% 4% 0; 
}

/* ARTICLE */

.text {
  width: 35%;
}

h1 {
  font-size: 35px;
  text-align: center;
}

.heading {
  font-size: 28px;
  margin: 13% 0 5%;
}

p {
  width: 100%;
}

.hyperlink-text {
  color: #800080;
  text-transform: uppercase;
}

.hyperlink-text:hover {
  color: #000000;
}

.hyperlink-text:visited {
  opacity: 0.7;
}

.list {
  font-size: 28px;
  margin: 13% 0 5%;
}

ul {
  margin-left: 18px;
}

.indentation {
  text-indent: 2%;
}

.indentation::first-letter {
  font-size: 26px;
  font-weight: bold;
}

/* ASIDE */

.images {
  width: 50%;
  height: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

figcaption {
  font-size: 18px;
}

.image {
  width: 80%;
  display: flex;
  border-radius: 10px;
  margin-bottom: 120px;
}

.first {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.second {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.third {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}

.fourth {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
}

/* GALLERY */

.gallery {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.gallery-text {
  margin: 0 0 9px;
}

.gallery-images {
  width: auto;
  display: flex;
  justify-content: space-evenly;
}

.separate-gallery-images {
  width: 25%;
  margin: 3.5% 3% 0;
  transition: 300ms;
}

.separate-gallery-images:hover {
  transform: scale(1.52);
  cursor: pointer;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #616161;
  margin-top: 5%;
}

.homepage-footer {
margin-top: 10%;
}

.contactpage-footer {
  margin-top: 8%;
}

.footer-text {
  font-size: 17px;
}

.cookies {
  z-index: 9999;
  margin: 0;
}

/* CONTACT PAGE */

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
  margin: 14% 0 0;
}

.form-section > h1, .form-section > p, legend {
  margin-bottom: 42.5px;
  text-transform: uppercase;
}

.row {
  display: flex;
  justify-content: space-between;
  border: none;
}

.required-field {
  width: 25%;
}

.name-input {
  width: 75%;
}

form {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.form-title {
  text-transform: uppercase;
}

label {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-bottom: 8%;
  transition: 0.3s;
}

input {
  height: 40px;
}

input, textarea, .gender {
  border-radius: 15px;
  background-color: transparent;
  border: solid;
  opacity: 0.5;
}

.gender {
  width: 6%;
  border: none;
}

.gender:hover {
  opacity: 1;
}

.gender:checked {
  opacity: 1;
  background-color: #939393;
}

textarea {
  height: 200px;
  vertical-align: top;
  box-sizing: border-box;
  padding-bottom: 12%;
}

input:hover, textarea:hover {
  opacity: 1;
}

input:focus, textarea:focus {
  background-color: #ffffff;
  opacity: 1;
  box-shadow: 
    0px 0px 8px 6px #0000000d,
    0px 0px 8px 6px #0000000d,
    0px 0px 8px 6px #0000000d,
    0px 0px 8px 6px #0000000d;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent;
}

.submit-button {
  width: 60%;
  height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  background-color: transparent;
  border-radius: 22px;
  cursor: pointer;
  opacity: 1;
}

.submit-button:focus {
  box-shadow: none;
}

/* SMALLER SCREEN */

@media screen and (max-width: 1350px) {
  * {
    font-size: 17px;
  }

  figcaption {
    font-size: 12px;
  }

  .button-link {
    width: 22%;
  }

  button {
    width: 100%;
  } 

}

@media screen and (max-width: 768px) {
  .gallery {
    display: none;
  }

  * {
    font-size: 14px;
  }

  header {
    position: inherit;
  }

  .logo {
    width: 20%;
    height: 20%;
  }

  nav {
    width: fit-content;
    margin: 0;
  }

  .button-link {
    width: 33%;
  }

  button {
    width: 100%;
    word-wrap: break-word;
  }

  section {
    flex-wrap: wrap;
    margin: 15% 3% 0;
  }

  .text {
    width: 100%;
  }

  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    padding: 7% 0 0; 
  }

  figcaption {
    font-size: 14px;
  }

  figure {
    display: flex;
    justify-content: center;
  }

  .first {
    flex-direction: column;
    align-items: center;
  }

  .image {
    margin-block: 5%;
  }

  .footer-text {
    font-size: 10px;
  }

  form, .required-field {
    width: 75%;
  }

  .name-input {
    width: 70%;
    margin-left: 3%;
  }
}